Repository SAP/styleguides, pull requests merged in 2023-06, with the labels that each got.

#330 Typo
  clean-abap/sub-sections/ModernABAPLanguageElements.md
Labels: clean-abap

#325 ABAP Formatter instead of Pretty Printer
  clean-abap/CleanABAP.md
  clean-abap/sub-sections/UpperVsLowerCase.md
Labels: clean-abap

#329 Fixed dead links to docs.abapgit.org in ABAPCodeReview.md
  abap-code-review/ABAPCodeReview.md
Labels: abap-code-review

#332 Add missing parent in navigation links of "Take care if input and output could be the same"
  clean-abap/CleanABAP.md
Labels: clean-abap, Smaller Correction
